<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dados.Properties.Settings.dbsivConnectionString" connectionString="server=localhost;user id=root;password=123;persistsecurityinfo=True;database=dbsiv"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>